#side_panel a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#side_panel a:hover {
    background-color: #ccc;
}
#side_panel{
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 250px;
    background-color: #eee;
}
#content{
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

a{
    cursor:pointer;
}

.edit_button{
    background: url(/assets/images/edit.png) 0px 0px no-repeat;
    background-size: contain;
    min-height: 25px;
    display: block;
}

.remove_button{
    background: url(/assets/images/remove.png) 0px 0px no-repeat;
    background-size: contain;
    min-height: 25px;
    min-width: 25px;
    display: block;
}

.add_button{
    background: url(/assets/images/add.png) 0px 0px no-repeat;
    background-size: contain;
    min-height: 25px;
    min-width: 25px;
    display: block;
}

.append_edit_button{
    background: url(/assets/images/append.png) 0px 0px no-repeat;
    background-size: contain;
    min-height: 25px;
    min-width: 25px;
    display: block;
}

.error_field{
    border-color:red;
}